.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.leftLayout {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
}

.leftLayout img:first-child {
    width: 1.5rem;
    height: 1.5rem;
}

.rightLayout {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
}

.rightLayout img:nth-child(2) {
    width: 1.5rem;
    height: 1.5rem;
}

.borderBox {
    border: 2px solid transparent;
    border-radius: 22px;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to bottom, #e53636, #ffe100 40%, #ffe100 60%, #e53636),
        linear-gradient(90deg, #fffb00, #e53636);
}

.greenStroke {
    border-radius: 22px;

    border: 2px solid rgba(218, 73, 108, 1);
}

.redStroke {
    border-radius: 22px;

    border: 2px solid rgba(64, 198, 134, 1);
}
